{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('assets/_select2-css.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('assets/_select2-js.html.twig') }}
{% endblock %}

{% block title %}Добавить карту{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl-10 offset-xl-1 col-xxl-8 offset-xxl-2">
            <h4>Добавить продукт</h4>
            <hr>
            {{ include('product/_product_form.html.twig') }}
        </div>
    </div>

{% endblock %}