<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Mteck {% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
              crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/spacelab/bootstrap.min.css" rel="stylesheet"
              integrity="sha256-L3JwfgXC2+0+6cZ8HKUiCfsF3wdUzkcZqLEq+Z9A6Us=" crossorigin="anonymous">

        <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet"/>

        <link href="/css/main.css" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
                integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
                crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/5e17f6e64e.js" crossorigin="anonymous"></script>

        <script src="/js/main.js"></script>
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
    <div class="container-xxl d-flex">

        <a class="navbar-brand me-0 me-lg-4 flex-grow-0" href="/" style="white-space:nowrap;">Mteck
            <sup>
                <span class="d-inline d-sm-none">xs</span>
                <span class="d-none d-sm-inline d-md-none">sm</span>
                <span class="d-none d-md-inline d-lg-none">md</span>
                <span class="d-none d-lg-inline d-xl-none">lg</span>
                <span class="d-none d-xl-inline d-xxl-none">xl</span>
                <span class="d-none d-xxl-inline">xxl</span>
            </sup>
        </a>

        <form id="main-search" class="my-auto ms-3 ms-lg-4 me-3 me-lg-0 d-inline-block flex-grow-1 order-1 order-lg-3"
              method="get" action="{{ path('search') }}">
            <div class="input-group input-group-sm">
                <input id="qs" name="qs" type="search" class="form-control">
                <button form="main-search" class="btn btn-light" type="submit" id="button-addon01">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>

        <div class="collapse navbar-collapse flex-grow-0 order-3 order-lg-1" id="navbar01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('list_product') }}">Продукты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}" style="white-space:nowrap;"><i class="fas fa-sign-in-alt"></i>
                        Войти</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler order-2 order-lg-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar01">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main class="container-xxl mt-3 mb-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}

</main><!-- /.container -->

<div class="modal" id="modal-main" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Here is inserted modal content in runtime -->
        </div>
    </div>
</div>

<footer class="bg-dark text-white mt-auto">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-2 mb-md-0">
                <h5 class="text-white">mteck.ru</h5>
                <p>Параграф</p>
            </div>
            <div class="col-lg-3 col-md-6 my-2 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{{ path('list_product') }}" class="text-white">Продукты</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 my-2 mb-md-0">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('list_product') }}" class="text-white">Продукты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-muted text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Разрабатывается и поддерживается NikitaMarakushev
    </div>
</footer>

</body>
</html>